<style>
    .nav {
        display: flex;
        flex-wrap: wrap;

        padding-left: 1rem;
        font-size: 40px;

        background-color: #3c3c3c;
    }

    .nav-item {
        margin-right: auto;
        padding-right: 20px;
}
</style>

<!-- Nav Bar Start -->
<header style="position: -webkit-sticky; position: sticky; top: 0px;">
    <div class="content post-title" style="padding-top: 0px; padding-bottom: 0px;">
        <!-- header Nav Start -->
        <div class="nav nav-resize">
            <div class="nav-item nav-resize">
                <a href="{{ site.baseurl }}">Home</a>
            </div>
            <div class="nav-item nav-resize">
                <a href="{{ site.baseurl | append: '/'}}about">About</a>
            </div>
            <div class="nav-item nav-resize">
                <a href="{{ site.github.repo }}" target="_blank">GitHub-Repo</a>
            </div>
            <div class="nav-item nav-resize">
                <a href="https://www.linkedin.com/in/robert-zacchigna" target="_blank">LinkedIn</a>
            </div>
            <div class="nav-item nav-resize">
                <a href="{{ site.baseurl | append: '/'}}contact">Contact</a>
            </div>
        </div>
    </div>
</header>
<!-- Nav Bar close -->