.render-notebook li {
    margin-bottom: 10px;
}

.render-notebook iframe {
    border: none;
    width: 100%;
    height: 85vh;
}

.render-notebook input {
    color: black;
    cursor: pointer;
    border-radius: 4px;

    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;

    width: auto;
    border: none;
    padding: .25em;
    display: block;

    font-size: 18px;
    font-weight: 750;
    font-family: inherit;
}

.render-notebook input:hover {
    background-color: #b3b3b3;
}

.render-notebook input:active {
    background-color: #919191;
}